<nav class="navbar navbar-dark bg-dark fixed-top" [ngClass]="{'sidebar-open': opened}">

    <button class="navbar-toggler" type="button" (click)="toggle()">
        <img src="assets/images/hamburger.gif" alt="Menu">
    </button>

    <a class="navbar-brand flex-grow-1" href="#">
        <img src="https://fontmeme.com/permalink/200730/155bdf7a242c5419fb76ddcb7b7ba353.png" style="height: 35px" class="my-1 mx-2" alt="Netflix">
    </a>

    <ul class="nav text-white d-none d-lg-flex">
        <li class="nav-item d-none d-xl-flex" style="cursor: pointer;">
            <a class="nav-link text-reset" [ngClass]="{'active': abaSelecionada === 0}" (click)="gotoHome()">Inicío</a>
        </li>
        <li class="nav-item d-none d-xl-flex" style="cursor: pointer;">
            <a class="nav-link text-reset" [ngClass]="{'active': abaSelecionada === 1}"(click)="gotoPesquisa()">Pesquisar</a>
        </li>
    </ul>

    <!-- <form class="form-inline">
        <input class="form-control" type="search" placeholder="Busca">
    </form> -->

    <!-- <div class="media text-white p-2 d-none d-lg-flex">
        <img src="assets/images/avatar.jpg" alt="Avatar" class="mr-2">
        <div class="media-body">
            <p class="h6 m-0 text-uppercase">Djalma Sindeaux</p>
        </div>
    </div> -->

    <ul class="list-unstyled font-weight-bold sidebar">
        <!-- <li class="media media-avatar">
            <img src="assets/images/avatar.jpg" alt="Avatar" class="mr-2">
            <div class="media-body">
                <p class="h6 m-0">DJALMA SINDEAUX</p>
                <small>Trocar de perfil</small>
            </div>
        </li>
        <li class="divider"></li> -->
        <li><a href="#" class="text-reset">Inicio</a></li>
        <li><a href="#" class="text-reset">Minha lista</a></li>
        <li><a href="#" class="text-reset">Séries de ação e aventura</a></li>
        <li><a href="#" class="text-reset">Ação e aventura</a></li>
        <li><a href="#" class="text-reset">Séries teen</a></li>
        <li><a href="#" class="text-reset">Filmes africanos</a></li>
        <li><a href="#" class="text-reset">Séries da América Latina</a></li>
        <li><a href="#" class="text-reset">Filmes de Anime</a></li>
    </ul>

</nav>